.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 картинки в рядок */
  gap: 15px;
  /* відстань між картинками */
  list-style: none;
  /* забирає маркери списку */
  padding: 0;
  margin: 0 auto;
  max-width: 1000px;
  /* щоб красиво обмежити ширину галереї */
}

.gallery-item {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* щоб картинки не спотворювались */
  transition: transform 0.3s;
}

.gallery-image:hover {
  transform: scale(1.05);
}